<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./css/global.css">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
    <title>homepage</title>
  </head>
  <body>
    <h1>Homepage</h1>
  </body>
</html>