<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/user.css">
  <script src="/js/homepage.js"></script>
  <title>Document</title>
</head>
<body>
  <header id="user--profile-header">
    <div id="user--info-container">
      <div id="user--pfp-name">
        <div id="user--pfp-container">
          <img
            src="/assets/icons/user_profile.svg"
            onload="ImgToSvg(this)"
            alt="Home button icon"
          />
          <img
            src="/assets/images/pfps/default_pfp_1.png"
            class="user-pfp"
            alt="User profile picture"
          />
        </div>
        <div id="user--name-container">
          <h1 class="username">Username</h1>
          <h2>@user.handle</h2>
          <button>
            <img src="/assets/icons/edit.svg" onload="ImgToSvg(this)" alt="Edit button icon">
            Edit Profile
          </button>
        </div>
      </div>
      
      <div id="user--counters-container">
        <div class="user--counter">
          <h1 class="following-counter">10k</h1>
          <h2>Following</h2>
        </div>
        <div class="user--counter">
          <h1 class="follwers-counter">10k</h1>
          <h2>Followers</h2>
        </div>
        <div class="user--counter">
          <h1 class="likes-counter">10k</h1>
          <h2>Likes</h2>
        </div>
      </div>
  
      <div id="user--bio-container">
        <div class="user-bio">
          <p>
            This is a simple user-driven social media <br/>
            app to share posts containing images
          </p>
        </div>
      </div>
    </div>
    <div id="profile-toolbar">
      <div class="toolbar-option selected">
        <button onclick="document.location='/'">Posts</button>
        <hr />
      </div>
      <div class="toolbar-option">
        <button>Following</button>
        <hr />
      </div>
      <div class="toolbar-option">
        <button>Saved</button>
      </div>
    </div>
  </header>

  <div id="body-container">
    <div id="posts-posts" class="post-container selected">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
    <div id="posts-following" class="post-container">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
    <div id="posts-saved" class="post-container">
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
      <div class="post"></div>
    </div>
  </div>

</body>
</html>