<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/homepage.css">
    <title>homepage</title>
  </head>
  <body>
    <h1>Username: {{user.username}}</h1>
  </body>
</html>