<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">

  <title>Document</title>
</head>

<body>
  <div id="form-container">
    <div id="form-header">
      <h1>Login to your account</h1>
      <hr>
    </div>
    <div class="form login-form">
      <div id="input-container">
        <input class="form-control" type="text" id="email-login" placeholder="johndoe@gmail.com" />
        <input class="form-control" type="password" id="password-login" placeholder="***********" />
        <label class="checkbox-container">
          Keep me logged in
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
      </div>
      <div id="button-container">
        <button class="btn" id="loginBtn" onclick="" type="submit">login</button>
        <button class="btn-cta" id="signupBtn">signup</button>
        <span class="action-group">
          <a href="" class="forgot-password">Forgot Password</a>
          <button type="button" class="test-acc" data-toggle="popover" title="Popover title"
            data-content="Some content inside the popover">Testing Account</button>
        </span>

      </div>
    </div>
  </div>
  <script src="/js/logins/login.js"></script>
</body>

</html>