
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Document</title>
</head>
<body>
  <div id="form-container">
    <div id="form-header">
      <h1>Sign up</h1>
      <hr>
    </div>
    <div class="form login-form">
      <div id="input-container">
        <input class="form-control" type="text" id="name-signup" placeholder="johndoe4762" />
        <input class="form-control" type="text" id="email-signup" placeholder="johndoe@gmail.com" />
        <input class="form-control" type="password" id="password-signup" placeholder="***********" />
      </div>
      <div id="button-container">
        <button class="btn" id="signupbtn">Signup</button>
      </div>
    </div>
  </div>  
</body>
</html>
<script src="/js/logins/signup.js"></script>